<!--
 * @LastEditors: Yx
 * @LastEditTime: 2022-10-12 20:42:05
 * @Description: ejs 组件
 * @Author: Yx
 * @Date: 2022-10-12 20:41:55
 * @FilePath: \node-koa2\src\views\widgets\UserInfo.ejs
-->
<div>
  <% if(isMe){ %>
  <a href="=">@提到我的</a>
  <% } else {%>
  <button>关注</button>
  <% }%>
</div>
