<!--
 * @LastEditors: Yx
 * @LastEditTime: 2022-11-03 18:06:10
 * @Description: 
 * @Author: Yx
 * @Date: 2022-11-03 09:09:02
 * @FilePath: \node-koa2\src\views\error.ejs
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
